## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sambava,MG,-14.2667,50.1667,77.29,85,32,7.90,moderate rain
1,1,Hobart,AU,-42.8794,147.3294,57.06,71,92,9.22,overcast clouds
2,2,Chara,RU,56.9064,118.2631,-19.50,96,100,0.78,overcast clouds
3,3,Gamba,GA,-2.6500,10.0000,82.04,75,50,10.60,scattered clouds
4,4,Iqaluit,CA,63.7506,-68.5145,-24.07,62,20,2.30,few clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 80

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sambava,MG,-14.2667,50.1667,77.29,85,32,7.90,moderate rain
1,1,Hobart,AU,-42.8794,147.3294,57.06,71,92,9.22,overcast clouds
9,9,Rafaela,AR,-31.2503,-61.4867,71.01,54,82,14.52,broken clouds
11,11,Rikitea,PF,-23.1203,-134.9692,78.93,71,48,15.88,light rain
12,12,Cape Town,ZA,-33.9258,18.4232,76.12,66,0,13.80,clear sky
15,15,Bontang,ID,0.1333,117.5000,77.04,91,100,7.99,overcast clouds
16,16,Hilo,US,19.7297,-155.0900,67.73,85,100,0.00,overcast clouds
17,17,Manggar,ID,-2.8833,108.2667,79.05,86,98,7.09,overcast clouds
18,18,Busselton,AU,-33.6500,115.3333,58.08,68,0,14.65,clear sky
22,22,Esperance,AU,-33.8667,121.9000,66.04,71,99,14.54,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                291
City                   291
Country                291
Lat                    291
Lng                    291
Max Temp               291
Humidity               291
Cloudiness             291
Wind Speed             291
Current Description    291
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.replace()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sambava,MG,-14.2667,50.1667,77.29,85,32,7.90,moderate rain
1,1,Hobart,AU,-42.8794,147.3294,57.06,71,92,9.22,overcast clouds
9,9,Rafaela,AR,-31.2503,-61.4867,71.01,54,82,14.52,broken clouds
11,11,Rikitea,PF,-23.1203,-134.9692,78.93,71,48,15.88,light rain
12,12,Cape Town,ZA,-33.9258,18.4232,76.12,66,0,13.80,clear sky
...,...,...,...,...,...,...,...,...,...,...
684,684,Tuy Hoa,VN,13.0833,109.3000,73.87,92,83,3.44,broken clouds
690,690,Bambanglipuro,ID,-7.9500,110.2833,62.60,88,100,4.92,very heavy rain
692,692,Yarmouth,US,41.7057,-70.2286,58.44,71,0,16.11,clear sky
696,696,Haimen,CN,23.1935,116.6142,62.49,88,99,16.98,overcast clouds
705,705,Kupang,ID,-10.1667,123.5833,78.44,88,99,5.23,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Sambava,MG,77.29,moderate rain,-14.2667,50.1667,
1,Hobart,AU,57.06,overcast clouds,-42.8794,147.3294,
9,Rafaela,AR,71.01,broken clouds,-31.2503,-61.4867,
11,Rikitea,PF,78.93,light rain,-23.1203,-134.9692,
12,Cape Town,ZA,76.12,clear sky,-33.9258,18.4232,
15,Bontang,ID,77.04,overcast clouds,0.1333,117.5000,
16,Hilo,US,67.73,overcast clouds,19.7297,-155.0900,
17,Manggar,ID,79.05,overcast clouds,-2.8833,108.2667,
18,Busselton,AU,58.08,clear sky,-33.6500,115.3333,
22,Esperance,AU,66.04,overcast clouds,-33.8667,121.9000,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df =hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Sambava,MG,77.29,moderate rain,-14.2667,50.1667,Melrose
1,Hobart,AU,57.06,overcast clouds,-42.8794,147.3294,Mantra on Collins Hobart
9,Rafaela,AR,71.01,broken clouds,-31.2503,-61.4867,Parra Hotel & Suites
11,Rikitea,PF,78.93,light rain,-23.1203,-134.9692,People ThankYou
12,Cape Town,ZA,76.12,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
15,Bontang,ID,77.04,overcast clouds,0.1333,117.5000,KOPKAR Hotel Bintang Sintuk
16,Hilo,US,67.73,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
17,Manggar,ID,79.05,overcast clouds,-2.8833,108.2667,Guest Hotel
18,Busselton,AU,58.08,clear sky,-33.6500,115.3333,Observatory Guest House
22,Esperance,AU,66.04,overcast clouds,-33.8667,121.9000,Hospitality Esperance

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))