## Deliverable 2. Create a Customer Travel Destinations Map.

In [16]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config1 import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [19]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sambava,MG,-14.2667,50.1667,77.29,85,32,7.90,moderate rain
1,1,Hobart,AU,-42.8794,147.3294,57.06,71,92,9.22,overcast clouds
2,2,Chara,RU,56.9064,118.2631,-19.50,96,100,0.78,overcast clouds
3,3,Gamba,GA,-2.6500,10.0000,82.04,75,50,10.60,scattered clouds
4,4,Iqaluit,CA,63.7506,-68.5145,-24.07,62,20,2.30,few clouds

In [20]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 100

In [21]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sambava,MG,-14.2667,50.1667,77.29,85,32,7.90,moderate rain
3,3,Gamba,GA,-2.6500,10.0000,82.04,75,50,10.60,scattered clouds
6,6,Obo,CF,5.3998,26.4869,92.88,18,87,6.06,overcast clouds
7,7,Nueva Loja,EC,0.0847,-76.8828,80.08,78,0,2.30,moderate rain
9,9,Rafaela,AR,-31.2503,-61.4867,71.01,54,82,14.52,broken clouds
10,10,Tumbes,PE,-3.5667,-80.4414,80.55,57,100,5.75,overcast clouds
11,11,Rikitea,PF,-23.1203,-134.9692,78.93,71,48,15.88,light rain
12,12,Cape Town,ZA,-33.9258,18.4232,76.12,66,0,13.80,clear sky
15,15,Bontang,ID,0.1333,117.5000,77.04,91,100,7.99,overcast clouds
16,16,Hilo,US,19.7297,-155.0900,67.73,85,100,0.00,overcast clouds

In [22]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                338
City                   338
Country                338
Lat                    338
Lng                    338
Max Temp               338
Humidity               338
Cloudiness             338
Wind Speed             338
Current Description    338
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.replace()

In [24]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Sambava,MG,77.29,moderate rain,-14.2667,50.1667,
3,Gamba,GA,82.04,scattered clouds,-2.6500,10.0000,
6,Obo,CF,92.88,overcast clouds,5.3998,26.4869,
7,Nueva Loja,EC,80.08,moderate rain,0.0847,-76.8828,
9,Rafaela,AR,71.01,broken clouds,-31.2503,-61.4867,
10,Tumbes,PE,80.55,overcast clouds,-3.5667,-80.4414,
11,Rikitea,PF,78.93,light rain,-23.1203,-134.9692,
12,Cape Town,ZA,76.12,clear sky,-33.9258,18.4232,
15,Bontang,ID,77.04,overcast clouds,0.1333,117.5000,
16,Hilo,US,67.73,overcast clouds,19.7297,-155.0900,

In [25]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df =hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Sambava,MG,77.29,moderate rain,-14.2667,50.1667,Melrose
3,Gamba,GA,82.04,scattered clouds,-2.6500,10.0000,
6,Obo,CF,92.88,overcast clouds,5.3998,26.4869,
7,Nueva Loja,EC,80.08,moderate rain,0.0847,-76.8828,Limoncocha Great Hotel
9,Rafaela,AR,71.01,broken clouds,-31.2503,-61.4867,Parra Hotel & Suites
10,Tumbes,PE,80.55,overcast clouds,-3.5667,-80.4414,Wyndham Costa del Sol Tumbes
11,Rikitea,PF,78.93,light rain,-23.1203,-134.9692,People ThankYou
12,Cape Town,ZA,76.12,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
15,Bontang,ID,77.04,overcast clouds,0.1333,117.5000,KOPKAR Hotel Bintang Sintuk
16,Hilo,US,67.73,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel

In [27]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [36]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [37]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

Figure(layout=FigureLayout(height='420px'))